<!DOCTYPE html>
<html lang="ja" data-color-mode="auto" data-light-theme="light" data-dark-theme="dark" data-a11y-animated-images="system">
<head>
    <title>Title</title>
</head>
<body>
{% include 'commons/header.twig' %}
{% block content %}{% endblock %}
{% include 'commons/footer.twig' %}
</body>
</html>